/* Categories Bar Styles */
.categories-bar {
    background-color: #f8f9fa; /* Light grey background */
    padding: 15px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.categories-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    font-size: 30px;
}

.category-item {
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin-right: 20px;
    color: #000000; /* Text color */
    text-decoration: none;
}

.category-item .icon {
    font-size: 1.5rem;
    margin-right: 8px;
    color: orangered
}

.create-recipe-button {
    display: flex;
    align-items: center;
    background-color: #53BCE6; /* Main theme color */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.create-recipe-button .icon {
    font-size: 1.25rem;
    margin-right: 8px;
    color: black;
}

.create-recipe-button:hover {
    background-color: #3a9ac8; /* Darker shade for hover effect */
}
